body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 1000px;
    height: 500px;
    display: flex;
}

h1 {
    margin-left: 50px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
    list-style: none;
    padding: 10px;
}

ul li {
    font-family: "Trebuchet MS", "Lucida Sans";
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 10px solid #f05d22;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
    -2px -2px 5px 0 rgba(0, 0, 0, .1),
    2px 2px 5px 0 rgba(0, 0, 0, .1),
    -2px 2px 5px 0 rgba(0, 0, 0, .1);
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
    cursor: default
}

li:nth-child(2+4) {
    border-color: #8bc63e;
}

li:nth-child(3+4) {
    border-color: #fcba30;
}

li:nth-child(4+4) {
    border-color: #1ccfc9;
}

li:nth-child(5+4) {
    border-color: #493224;
}

li:hover {
    border-left: 10px solid transparent;
}

li:nth-child(1+4):hover {
    border-right: 10px solid #f05d22;
}

li:nth-child(2+4):hover {
    border-right: 10px solid #8bc63e;
}

li:nth-child(3+4):hover {
    border-right: 10px solid #fcba30;
}

li:nth-child(4+4):hover {
    border-right: 10px solid #1ccfc9;
}

li:nth-child(5+4):hover {
    border-right: 10px solid #493224;
}

.Zero-Two {
    background-color: gray;
}

.Three-Six {
    background-color: blue;
}

.Seven-Ten {
    background-color: green;
}

.Eleven-More {
    background-color: red;

}